<h1>Position</h1>

<p>
  <b>Position</b><br>
  <%= @position.position %>
</p>

<div class="form-actions">
  <%= link_to 'Back', positions_path, :class => 'btn'  %>
  <%= link_to 'Edit', edit_position_path(@position), :class => 'btn' %>
  <%= link_to 'Delete', position_path(@position), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-danger' %>
</div>
